<br>
<br>
  <div class="row g-0">
    <div class="col-9">
      <div class="card">
        <%check_img_exist(@favorite_fishings)%>
        <div class="main_article_img_container">
          <%= image_tag( @img, alt: "default_image", class: "card-img main_article_img") %>
        </div>
        <div class="card-img-overlay d-flex flex-column">
          <div class="mt-auto">
          <h4 class="card-title fw-bold"><%=@favorite_fishings.title%></h4>
          <p class="card-text text-white fw-bold"><%= @favorite_fishings.text %></p>
        </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="wheather_img_container">
        <%= image_tag( "weather_img.webp", alt: "default_image", class: "wheather_img") %>
      </div>
    </div>
  </div>
  

  <div class="row g-0">
      <% @more_important_categories.each do |c| %>
      <div class="col-3">
        <div class="card">
          <%first_article_by_category(c.id)%>
          <%check_img_exist(@first_article)%> 
          <div class="category_imgs_container">
            <%= image_tag( @img, alt: "default_image", class: "category_imgs card-img ") %>
          </div>
          <div class="card-img-overlay d-flex flex-column">
            <h4 class="card-title"><%=link_to c.name, category_path(c), class: "text-decoration-none text-dark fw-bold"%></h4>
            <h6 class="card-text mt-auto text-white fw-bold"><%=@first_article.title%></h6>
          </div>
        </div>
      </div>
      <% end %>
  </div>

