
<div class="">
  <div class="row g-0 show_cat_container centered">
    <%@fishings_by_category.each do |a|%>
      <div class="col-6">
        <div class="card" >
          <div class="row g-0">
            <div class="col-md-6">
              <%check_img_exist(a)%>
              <%= image_tag( @img, alt: "default_image", class: "card-img-top") %> 
            </div>
            <div class="col-6 p-2 d-flex flex-column justify-content-between">
              <h5 class="category_titles_2"><%=@category.name%></h5>
              <div>
                <h5><%=a.title%></h5>
                <p><%= a.text %></p>
                <p class="text-secondary"><%="By #{a.author.name}" %></p>
              </div>
              
              <div class="d-flex justify-content-between">
                <span><%="Votes:#{a.votes.count}"%></span>
                <span><%= vote_unvote(a.id, @category.id)%></span>
                <%= edit_article(a)%>
                <%= delete_article(a)%>
              </div>
            </div>
          </div>
        </div>
      </div>
    <%end%>
  </div>
</div>
