<!DOCTYPE html>
<html>
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/d6bf1861cd.js" crossorigin="anonymous"></script>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>FishingArticlesCapstone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="top-menu navbar border border-secondary fixed-top bg-white p-2">
      <%nav_bar_buttons%>
      <div>
        <h2>Fishing</h2>
      </div>
      <div>
        <span class="px-2"><%= link_to 'HOME', root_path, class: 'text-decoration-none'%></span>
        <%@categories = Category.all%>
        <%@categories.each do |c|%>
          <span class="px-2"><%= link_to c.name, category_path(c), class: 'text-decoration-none'%></span>
        <%end %>
      </div>
      <div>
        <%= @su_button %>
        <%=@article%>
        <span>|</span>
        <%= @si_button %>
        <%= @so_button %>
        <i class="fas fa-search px-2"></i>
      </div>
    </nav>
    <%= yield %>
    <footer class="bottom-menu navbar fixed-bottom p-2">
      <h2>Fishing</h2>
      <span class="text-white">Copyright 2021. All rights reserved</span>
      <div class="d-flex align-items-center">
        <span class="px-3 text-white">Connect wit us:</span>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-instagram mx-3"></i>
        <i class="fab fa-facebook-f"></i>
      </div>
    </footer>
  </body>
</html>
